input
output
dist
*.zip
.tmp
bower_components
node_modules

api/.vs/

obj
bin
packages

*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.dll
*.lib
*.sbr
~$*
*.wadcfgx